#first
{
    @include style(black,80% ,50px solid white ,10%);
    .content
    {
        color:aqua;
        margin: 2%;
       
    }
    .content:hover
    {
        background: rgb(0, 140, 255);
    }
}